

<div class="ngx-select-class-box">
  <input type="text" placeholder="" class="{{class}}" [ngClass]="{'readonly': readonly, 'disabled': disabled}"
         [(ngModel)]="selectName" style="width: 100%;" disabled>
</div>
<ng-template #selectClassModalTemplate>
  <div class="ngx-select-class-mask"  (click)="closed('onCancel',$event)"></div>
  <div class="ngx-select-class-wrap">
    <div class="ngx-select-class-modal">
      <div  class="select-address-top ngx-tab">
        <div class="ngx-tab-nav">
          <div class="ngx-nav-container">
            <!-- <span>
              《
            </span>
            <span>
              》
            </span> -->
            <div class="ngx-tab-nav-wrap">
              <div class="ngx-tab-nav-scroll">
                <div class="ngx-tab-nav-line">
                  <div class="ngx-tab-label" *ngFor="let class of classList;let classIndex = index;" [ngClass]="{'active': showClassIndex == classIndex}" (click)="showClassIndex = classIndex;">
                      {{class.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div >
      <div class="select-address-container">
        <ul>
          <ng-container *ngFor="let class of classList;let classIndex = index;">
            <li [hidden]="showClassIndex != classIndex">
              <!-- 省份 -->
              <span *ngFor="let data of class.dataList;trackBy: dataListTrackByFn"
                    (click)="onSelectClass(data, classIndex);"
                    [ngClass]="{'select': isSelect(data, classIndex),'now-select': isNowSelect(data, classIndex)}">
                      {{data[nameKey] }}
              </span>
              <h5 *ngIf="!class.dataList || !class.dataList.length" class="text-muted text-center">没有数据了</h5>

              <div class="select-bar">
                  <button *ngIf="showClassIndex && (showClassIndex - 1)" (click)="showClassIndex = 0;" class="btn-link">顶级</button>
                  <button *ngIf="showClassIndex" (click)="showClassIndex = showClassIndex - 1;" class="btn-link">上一级</button>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="select-address-footer">
        <div class="select-msg">
            <div class="data" *ngFor="let selectData of selectList;let selectDataIndex = index;">
                <span  *ngFor="let patchData of selectData.path;let patchIndex = index;">
                  {{patchData && patchData[nameKey]}}
                </span>
              <i (click)="clear(selectDataIndex)">×</i>
            </div>
            <div class="msg">{{msg}}</div>
        </div>
        <div class="select-bar">
          <button (click)="clear()" class="btn-clear">清空</button>
          <button (click)="closed('onOk')" class="btn-ok">确定</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
